*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-app{
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background: #fff;
    padding: 20px;
}
.todo-app h2{
    font-size: 16px;
    font-weight: bold;
}
.row input{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border-right: 0px;
}
.row button{
    width: 20%;
    padding: 10px;
    margin: -25px;
    border-radius: 15px;
    background-color: orangered;
    cursor: pointer;
}
#list-container{
    margin: 10px;
}
ul li{
    list-style: none;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}
ul li.done{
    text-decoration: line-through;
}
ul li span{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    justify-content: flex-end;
    padding: 2px;
    margin: 0 0 0 280px;
    cursor: pointer;
}
ul li span:hover{
    background-color: #e61010;
}
